@import "../../../../assets/scss/colors";

/* Pickup */

.pickup-btn {
  border: 1px solid $light-gray;
}

.pickup-modal {
  width: 100%;

  .modal-content {
    height: 266px;
    border: 0;
    border-radius: 24px;
    overflow: hidden;
  }
}

@media (min-width: 768px) {
  .pickup-modal {
    max-width: 365px !important;
  }
}
